.Login {
    width: 30%;
    margin: 0px auto;
  }
.Regestration{
    width: 30%;
    margin: 0px auto;
}
label{
  margin-top: 20px;
  display: block;
}
.username{
  margin-left: -3px;
  float: none;
  width: 135px;
}
.check{
  margin-left: 10px;
  float: none;
  width: 50px;
}
.submitbtn{
  margin-top: 30px;
  text-align: center;
}
form>h2{
  text-align: center;
}
.userArea{
  width: 200px;
  float: right;
}
label>input{
  float: right;
  width: 200px;
}
#login{
  float:left;
}
#registration{
  float:right;
}
.gender{
  margin-left: 40px;
}
.progressarea{
  margin-top: 40px;
}
.lower{
  strokeColor:rgb(197, 21, 21) !important;
}
.middle{
  strokeColor:rgb(218, 170, 16) !important;
}
.strong{
  strokeColor:green !important;
}
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
.logo-img{
  background-size: cover;
  width: 66%;
  height: auto;
  border-radius: 50%;
}
.welcome{
  font-family: fantasy;
  margin-bottom: 20px;
  font-size: 24px;
  margin-top: 32px;
  text-align: center;
}
.re-useremail{
  width: 80% !important;
  float: left;
}
.re-emailcheck{
  width: 18%;
  height: 34px;
}

.radio {
  margin: 0.5rem;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #3197EE;
  -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
          box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
          box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}
.sex-label{
  text-align: left;
  margin: 0px;
}
.radio label, .checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: inherit !important;
  font-weight: 400;
  /* cursor: pointer; */
}
.radio>label{
  margin-top: 6px !important;
}
.react-sweet-progress {
  margin-bottom: 28px;
  margin-top: 28px;
}
.loginbtn{
  background-color: #5cb85c00 !important;
  border-color : #a1a5a13d !important;
  margin-left: 22px;
}
.loginbtn:hover{
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}
.loginbtnArea{
  position: absolute;
  float: right;
  right: 54px;
  top: 28px;
}
.chatroom{
  margin-left:0px !important;
  margin-right:0px !important;
}
.chat-users{
  height: 604px !important;
  margin-left: -8px !important;
  border: solid 1px darkgray;
}
.chat-discussion{
  height: 570px !important;
  /* margin-top: 16px; */
  background-image: url('../img/msg.jpg') !important;
  background-size: cover !important;
  opacity: 0.7;
  z-index: -1;  
}
.btn-primary{
  outline: none;
}
.chat-users-area{
  position: unset !important;
  padding-right: 0px !important;
  background-color: white;
}
.message-text{
  width: 90% !important;
  float: left;
  margin-top: 18px;
}
.send-btn{
  width: 8% !important;
  float: right;
}
.chatroom{
  margin-top:10px;
}
.text-input{
  padding-bottom: 17px;
}
.users-list{
  border: solid 1px #d8d6d6;
}
.myavatar{
  width: 40px;
  height: 40px;
  position: absolute;
  right: 29px;
}
.myname{
  float: right;
  margin-right: 57px;
  font-size: 15px;
  font-weight: 900;
}
.chat-control{
  border-style: unset !important;
}
.ibox-title h5 {
  margin: 0 0 0px !important;
}
.unreadCount{
  margin-top: 10px;
  padding: 3px 11px !important;
  border-radius: 8px !important;
  background-color: #e4ba3b !important;
}
.add-user-find{
  padding: 0px 20px 10px 0px;
}
.add-user-find>input{
  width:100%;
  outline: none;
}
.hidden { display:none; }
.clientavatar{
  width: 40px;
  height: 40px;
  margin: 3px 0px 5px 20px;
}
.clientname{
  margin-left: 14px;
  position: absolute;
  font-size: 16px;
}
.user-online{
  width: 13px;
  height: 13px;
  background-color: #00ff39;
  border-radius: 50%;
  position: absolute;
  margin-top: 24px;
  margin-left: -22px;
  color: white;
  font-size: 9px !important;
  border: solid 1px #e2dddd;
  padding-left: 1px;
  padding-top: 1px;
}
.user-offline{
  width: 13px;
  height: 13px;
  background-color:white;
  border-radius: 50%;
  position: absolute;
  margin-top: 24px;
  margin-left: -22px;
  color: white;
  font-size: 9px !important;
  border: solid 1px #00ff39;
  padding-left: 1px;
  padding-top: 1px;
}
.seletedUser{
  background-color: gainsboro;
  background-color: gainsboro;
  font-weight: 900;
}
.input-message{
  /* width:100%; */
  max-height: 50px;
  outline: none;
}
.remember-area{
  text-align: left;
  margin-left: 20px;
}
.remember{
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
}